
.slide{
    height: 40vh;
    width: 100%;
}

.almoco{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 3vh 3vh;
    grid-column-gap: 5%; 
    height: 40vh;
}

.foto{
    grid-row: 1;
    border-radius: 1px;
    background-image: url(../img/mistura.jpeg);
}
.titulo{
    grid-row: 2;
    font-size: 1rem;
}
.localizacao{
    grid-row: 3;
}
