
.slide{
    height: 40vh;
    width: 100%;
}

.almoco{
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 3vh 3vh;
    grid-column-gap: 5%; 
    height: 40vh;
    
}

.foto{
    grid-row: 1;
    border-radius: 1px;
    background-image: url(../img/mistura.jpeg);
}
.titulo{
    grid-row: 2;
    font-size: 1rem;
}
.localizacao{
    grid-row: 3;
}
#divBusca{
    background-color:#E0EEEE;
    border:solid 2px #5F9EA0;
    border-radius:10px;
    width:300px;
    height:32px;
  }
  
  #txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-size:18px;
    border:none;
    height:32px;
    width:191px;
  }
  
  #btnBusca{
    border:none;
    float:left;
    height:32px;
    border-radius:0 7px 7px 0;
    width:70px;
    font-weight:bold;
    background:#5F9EA0;
  }
  
  #divBusca img{
    float:left;
  }