<!DOCTYPE html>
{%load static%}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slide.css' %}" />
  </head>

  <body>
    <header>
      <div class="container">
        <div class="logo">LOGO</div>

        <nav class="header-navbar">
          <ul>
            <li>
              <a
                href="#"
                style="
                  background-color: #1e1e1e;
                  padding: 1rem;
                  border-radius: 1rem;
                "
              >
                Home
              </a>
            </li>
            <li><a href="#">Hotéis</a></li>
            <li><a href="#">Restaurantes</a></li>
            <li><a href="#">Acessibilidade</a></li>
          </ul>
        </nav>

        <div class="login">Sign in | Sign up</div>
      </div>
    </header>
    <div class="ism-slider" id="slide" style="z-index: -1; margin-bottom: 4%;">
        <ol>
          <li>
            <img src="https://github.com/notsogreatdavi/desafio-visa/blob/main/visa_project/web_site/static/img/lugar.jpg?raw=true">
          </li>
          <li>
            <img src="https://github.com/notsogreatdavi/desafio-visa/blob/main/visa_project/web_site/static/img/lugar.jpg?raw=true">
          </li>
          <li>
            <img src="https://github.com/notsogreatdavi/desafio-visa/blob/main/visa_project/web_site/static/img/lugar.jpg?raw=true">
          </li>
        </ol>
      </div>

      <!--aqui vem a barra de pesquisa-->
      <div id="divBusca">
        <img src="search3.png" alt="Buscar..."/>
        <input type="text" id="txtBusca" placeholder="Buscar..."/>
        <button id="btnBusca">Buscar</button>
      </div>
    <!-- div criada para por o conteudo-->
    <div class="almoco">
      <!-- linha horizontal com os almocos-->

      <div class="foto"></div>
      <div class="titulo">
        <h2>Mistura</h2>
      </div>
      <div class="localizacao">
        <p>Salvador BA</p>
      </div>

      <div class="foto"></div>
      <div class="titulo">
        <h2>Mistura</h2>
      </div>
      <div class="localizacao">
        <p>Salvador BA</p>
      </div>

      <div class="foto"></div>
      <div class="titulo">
        <h2>Mistura</h2>
      </div>
      <div class="localizacao">
        <p>Salvador BA</p>
      </div>

      <div class="foto"></div>
      <div class="titulo">
        <h2>Mistura</h2>
      </div>
      <div class="localizacao">
        <p>Salvador BA</p>
      </div>
    </div>
    <script src="{% static 'scripts/slide.js'%}"></script>
  </body>
</html>
